body {
	padding-left: 8em;
	font-family: Georgia, "Times New Roman", Times, serif;
	background-image: url('back.jpg');
	background-position: center top;
}

h2 {
	color: darkblue;
}

p {
	color: purple;
}

hr {
	color: darkred;
}
